@{
    ViewData["Title"] = "Book Appointment";
}

@model SignUpSuperGenius.Models.Groups

<div class="text-center">
    <h2>Group Information</h2><br />

    <form method="post">

        <label asp-for="Name">Name of Group:</label>
        <input asp-for="Name" /><br /><br />

        <label asp-for="Size">Group Size:</label>
        <input asp-for="Size" placeholder="1-15 People"/><br /><br />

        <label asp-for="Email">Email Address:</label>
        <input asp-for="Email" /><br /><br />

        <label asp-for="PhoneNumber">Phone Number:</label>
        <input asp-for="PhoneNumber" /><br /><br />

        <div asp-validation-summary="All"></div>

        <button class="btn btn-sm btn-secondary" style="background-color: turquoise;" type="submit">Submit</button>

    </form>
</div>
