@{
    ViewData["Title"] = "Dating Application";
}

@model SignUpSuperGenius.Models.Groups

<div class="text-center">
    <h2>Group Information</h2>

    <form method="post">

        <label asp-for="Name">Name of Group:</label>
        <input asp-for="Name" /><br /><br />

        <label asp-for="Size">Group Size:</label>
        <input asp-for="Size" /><br /><br />

        <label asp-for="Email">Email Address:</label>
        <input asp-for="Email" /><br /><br />

        <label asp-for="PhoneNumber">Phone Number:</label>
        <input asp-for="PhoneNumber" /><br /><br />

        <button type="submit">Submit</button>

    </form>
</div>
