@{
    ViewData["Title"] = "Book Appointment";
}

@model Appointment

<div class="text-center">
    <h2>Group Information for @Model.Day at @Model.Time</h2>
    <br />

    <form method="post">
        <input type="hidden" asp-for="Day" value="@Model.Day" />
        <input type="hidden" asp-for="Time" value="@Model.Time" />
        <input type="hidden" asp-for="Filled" value="true" />
        <label asp-for="Name">Name of Group:</label>
        <input asp-for="Name" /><br /><br />

        <label asp-for="Size">Group Size:</label>
        <input asp-for="Size" placeholder="1-15 People"/><br /><br />

        <label asp-for="Email">Email Address:</label>
        <input asp-for="Email" /><br /><br />

        <label asp-for="PhoneNumber">Phone Number:</label>
        <input asp-for="PhoneNumber" /><br /><br />

        <div asp-validation-summary="All"></div>

        <button class="btn btn-sm btn-secondary" style="background-color: turquoise;" type="submit">Submit</button>

    </form>
</div>
