@{
}

@*<h2>Group Information</h2>

<div>
    <form method="post">

        <label asp-for="Name">Name of Group:</label>
        <input asp-for="Name" /><br /><br />

        <label asp-for="Size">Group Size:</label>
        <input asp-for="Size" /><br /><br />

        <label asp-for="Email">Email Address:</label>
        <input asp-for="Email" /><br /><br />

        <button type="submit">Submit</button>

    </form>
</div>*@
