@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Layton Temple Tours</h1><br />
    <img src="~/img/temple.webp" /><br /><br />
    <h3>Sign up for a tour <a asp-controller="Home" asp-action="SignUp">here</a>!</h3>

</div>


<p style="padding-left: 50px">
    General Tour Instructions:<br /><br />

    Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.<br />
    Dress casual, except on Sunday<br />
    Special Accommodations (check the appropriate box when signing up for a tour):<br /><br />

    Spanish-speaking tours are available, by request.<br />
    Available Tours:<br /><br />

    Tour (Outdoor): We will walk on the sidewalk along Oak Hills and on Rosewood in front of the temple on uneven surfaces; please wear sturdy shoes.<br />
    Trailer Tour: On Sunday. Masks are required.<br />
    Please call or text 801-628-4488 with questions or special requests.<br />
    This tour will include a presentation of the temple grounds and a journey through the history of the temple and the restoration of the Church of Jesus Christ of Latter-Day Saints.<br />
</p>