@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Layton Temple Tours</h1>
    <img src="~/img/temple.webp" />
    <p>Sign up for a tour <a asp-controller="Home" asp-action="SignUp">here</a>!</p>
</div>
